In [4]:
# Import requests package
import requests
import os
import pandas as pd

In [5]:
# Set URL as url
url = "https://meteostat.p.rapidapi.com/point/daily"

In [6]:
# To be able to pull the API key from the .env, we need to import and run the load_dotenv function from the dotenv module first.
from dotenv import load_dotenv
load_dotenv()

True

In [7]:
headers = {
    "X-RapidAPI-Host": "meteostat.p.rapidapi.com",
    "X-RapidAPI-key" : os.getenv('x-rapidapi-key')
    }

In [8]:
# complete the parameter dictionary 
parameters = {
    "lat": "40.6413",    # Latitude of the location(jfk)
    "lon": "-73.7781",   # Longitude of the location
    "start": "2016-01-01",  # Start date
    "end": "2016-01-31",    # End date
    "units": "metric"       # Units of measurement
}

In [9]:
# Send get request
r = requests.get(url,headers=headers ,params = parameters)

# Print r
r

In [10]:
r.headers

{'Date': 'Fri, 19 Jul 2024 15:59:07 GMT', 'Content-Type': 'application/json', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Cache-Control': 'public, must-revalidate, max-age=259200', 'Content-Encoding': 'gzip', 'Last-Modified': 'Fri, 19 Jul 2024 10:24:58 GMT', 'NEL': '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}', 'X-Meteostat-Server': 'jasper', 'CF-Cache-Status': 'HIT', 'Vary': 'Accept-Encoding', 'CF-RAY': '8a5beab5ef782bd5-FRA', 'Report-To': '{"endpoints":[{"url":"https:\\/\\/a.nel.cloudflare.com\\/report\\/v4?s=uBBVRV54qscz5mh1rXh%2B8zjczDsHOjmHcKBq4A2BVaZqL7Xim9uu%2BoBok657xjtFMVzFJqVFsWHXQawZn0Z1L7rdKuV1gznG8%2BTnuqrO2mDVyrDMDkFUTgvc2sA%2FS%2F%2FWgF8Z3V7VIA%3D%3D"}],"group":"cf-nel","max_age":604800}', 'alt-svc': 'h3=":443"; ma=86400', 'Age': '2371', 'X-RateLimit-Requests-Limit': '500', 'X-RateLimit-Requests-Remaining': '488', 'X-RateLimit-Requests-Reset': '2649766', 'X-RateLimit-rapid-free-plans-hard-limit-Limit': '500000', 'X-RateLimit-rapid-free-plans-hard-limit-Remaining': '499988', 'X-RateLimit-rapid-free-plans-hard-limit-Reset': '2649766', 'Server': 'RapidAPI-1.2.8', 'X-RapidAPI-Version': '1.2.8', 'X-RapidAPI-Region': 'AWS - eu-central-1'}

In [11]:
r.cookies

In [12]:
r.encoding

'utf-8'

In [13]:
r.content

b'{"meta":{"generated": "2024-07-19 10:24:58", "stations": ["74486", "72502", "KNYC0", "KTEB0"]},"data":[{"date":"2016-01-01","tavg":5.8,"tmin":2.2,"tmax":6.7,"prcp":0.0,"snow":0.0,"wdir":283.0,"wspd":23.4,"wpgt":null,"pres":1017.3,"tsun":null},{"date":"2016-01-02","tavg":3.1,"tmin":1.1,"tmax":5.0,"prcp":0.0,"snow":0.0,"wdir":277.0,"wspd":20.9,"wpgt":null,"pres":1017.4,"tsun":null},{"date":"2016-01-03","tavg":4.6,"tmin":1.7,"tmax":8.9,"prcp":0.0,"snow":0.0,"wdir":258.0,"wspd":22.7,"wpgt":null,"pres":1011.8,"tsun":null},{"date":"2016-01-04","tavg":1.0,"tmin":-9.3,"tmax":3.3,"prcp":0.0,"snow":0.0,"wdir":333.0,"wspd":32.0,"wpgt":null,"pres":1017.7,"tsun":null},{"date":"2016-01-05","tavg":-7.2,"tmin":-11.0,"tmax":-1.6,"prcp":0.0,"snow":0.0,"wdir":351.0,"wspd":19.8,"wpgt":null,"pres":1034.7,"tsun":null},{"date":"2016-01-06","tavg":-1.4,"tmin":-6.0,"tmax":4.4,"prcp":0.0,"snow":0.0,"wdir":235.0,"wspd":12.2,"wpgt":null,"pres":1034.0,"tsun":null},{"date":"2016-01-07","tavg":2.7,"tmin":-2.7,"tmax":7.8,"prcp":0.0,"snow":0.0,"wdir":null,"wspd":6.1,"wpgt":null,"pres":1026.3,"tsun":null},{"date":"2016-01-08","tavg":4.3,"tmin":0.0,"tmax":8.3,"prcp":0.0,"snow":0.0,"wdir":36.0,"wspd":14.4,"wpgt":null,"pres":1022.8,"tsun":null},{"date":"2016-01-09","tavg":7.2,"tmin":4.4,"tmax":11.7,"prcp":0.5,"snow":0.0,"wdir":66.0,"wspd":18.7,"wpgt":null,"pres":1021.3,"tsun":null},{"date":"2016-01-10","tavg":11.2,"tmin":5.0,"tmax":14.4,"prcp":32.5,"snow":0.0,"wdir":152.0,"wspd":33.8,"wpgt":null,"pres":1002.2,"tsun":null},{"date":"2016-01-11","tavg":3.1,"tmin":-3.2,"tmax":5.0,"prcp":0.0,"snow":0.0,"wdir":276.0,"wspd":31.7,"wpgt":null,"pres":1013.0,"tsun":null},{"date":"2016-01-12","tavg":0.4,"tmin":-5.5,"tmax":7.2,"prcp":0.0,"snow":0.0,"wdir":210.0,"wspd":22.3,"wpgt":null,"pres":1012.1,"tsun":null},{"date":"2016-01-13","tavg":-1.4,"tmin":-4.3,"tmax":-0.5,"prcp":0.0,"snow":0.0,"wdir":277.0,"wspd":33.5,"wpgt":null,"pres":1014.4,"tsun":null},{"date":"2016-01-14","tavg":-1.5,"tmin":-4.3,"tmax":3.9,"prcp":0.0,"snow":0.0,"wdir":264.0,"wspd":16.9,"wpgt":null,"pres":1014.9,"tsun":null},{"date":"2016-01-15","tavg":4.6,"tmin":-0.5,"tmax":10.6,"prcp":0.0,"snow":0.0,"wdir":104.0,"wspd":11.2,"wpgt":null,"pres":1010.8,"tsun":null},{"date":"2016-01-16","tavg":8.7,"tmin":6.1,"tmax":12.2,"prcp":8.4,"snow":0.0,"wdir":312.0,"wspd":22.0,"wpgt":null,"pres":1000.3,"tsun":null},{"date":"2016-01-17","tavg":3.9,"tmin":-0.5,"tmax":6.1,"prcp":1.3,"snow":0.0,"wdir":344.0,"wspd":16.9,"wpgt":null,"pres":1009.1,"tsun":null},{"date":"2016-01-18","tavg":-1.8,"tmin":-6.6,"tmax":0.6,"prcp":0.0,"snow":30.0,"wdir":283.0,"wspd":34.6,"wpgt":null,"pres":1010.3,"tsun":null},{"date":"2016-01-19","tavg":-5.2,"tmin":-7.7,"tmax":-0.5,"prcp":0.0,"snow":0.0,"wdir":290.0,"wspd":35.3,"wpgt":null,"pres":1017.2,"tsun":null},{"date":"2016-01-20","tavg":0.2,"tmin":-2.1,"tmax":4.4,"prcp":0.0,"snow":0.0,"wdir":315.0,"wspd":19.4,"wpgt":null,"pres":1020.9,"tsun":null},{"date":"2016-01-21","tavg":0.4,"tmin":-2.7,"tmax":3.9,"prcp":0.0,"snow":0.0,"wdir":328.0,"wspd":22.0,"wpgt":null,"pres":1020.9,"tsun":null},{"date":"2016-01-22","tavg":-2.6,"tmin":-6.0,"tmax":-1.0,"prcp":0.3,"snow":0.0,"wdir":8.0,"wspd":18.4,"wpgt":null,"pres":1023.9,"tsun":null},{"date":"2016-01-23","tavg":-1.8,"tmin":-3.2,"tmax":-0.5,"prcp":73.7,"snow":180.0,"wdir":27.0,"wspd":40.3,"wpgt":null,"pres":1007.4,"tsun":null},{"date":"2016-01-24","tavg":-2.7,"tmin":-7.1,"tmax":1.7,"prcp":0.0,"snow":710.0,"wdir":328.0,"wspd":20.5,"wpgt":null,"pres":1013.5,"tsun":null},{"date":"2016-01-25","tavg":-0.7,"tmin":-6.6,"tmax":3.9,"prcp":0.0,"snow":660.0,"wdir":null,"wspd":6.8,"wpgt":null,"pres":1024.7,"tsun":null},{"date":"2016-01-26","tavg":3.7,"tmin":1.7,"tmax":7.2,"prcp":0.0,"snow":560.0,"wdir":204.0,"wspd":15.5,"wpgt":null,"pres":1018.1,"tsun":null},{"date":"2016-01-27","tavg":5.9,"tmin":-0.5,"tmax":7.2,"prcp":0.0,"snow":380.0,"wdir":300.0,"wspd":18.4,"wpgt":null,"pres":1017.1,"tsun":null},{"date":"2016-01-28","tavg":1.4,"tmin":-3.8,"tmax":5.6,"prcp":0.0,"snow":280.0,"wdir":null,"wspd":5.8,"wpgt":null,"pres":1014.0,"tsun":null},{"date":"2016-01-29","tavg":3.2,"tmin":-0.5,"tmax":5.6,"prcp":0.0,"snow":230.0,"wdir":280.0,"wspd":21.2,"wpgt":null,"pres":1001.7,"tsun":null},{"date":"2016-01-30","tavg":0.8,"tmin":-2.1,"tmax":3.9,"prcp":0.0,"snow":180.0,"wdir":256.0,"wspd":18.4,"wpgt":null,"pres":1016.8,"tsun":null},{"date":"2016-01-31","tavg":4.4,"tmin":0.6,"tmax":8.9,"prcp":0.0,"snow":130.0,"wdir":200.0,"wspd":13.7,"wpgt":null,"pres":1013.7,"tsun":null}]}'

In [15]:
weather_jfk = r.json()
weather_jfk

{'meta': {'generated': '2024-07-19 10:24:58',
  'stations': ['74486', '72502', 'KNYC0', 'KTEB0']},
 'data': [{'date': '2016-01-01',
   'tavg': 5.8,
   'tmin': 2.2,
   'tmax': 6.7,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 283.0,
   'wspd': 23.4,
   'wpgt': None,
   'pres': 1017.3,
   'tsun': None},
  {'date': '2016-01-02',
   'tavg': 3.1,
   'tmin': 1.1,
   'tmax': 5.0,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 277.0,
   'wspd': 20.9,
   'wpgt': None,
   'pres': 1017.4,
   'tsun': None},
  {'date': '2016-01-03',
   'tavg': 4.6,
   'tmin': 1.7,
   'tmax': 8.9,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 258.0,
   'wspd': 22.7,
   'wpgt': None,
   'pres': 1011.8,
   'tsun': None},
  {'date': '2016-01-04',
   'tavg': 1.0,
   'tmin': -9.3,
   'tmax': 3.3,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 333.0,
   'wspd': 32.0,
   'wpgt': None,
   'pres': 1017.7,
   'tsun': None},
  {'date': '2016-01-05',
   'tavg': -7.2,
   'tmin': -11.0,
   'tmax': -1.6,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 351.0,
   'wspd': 19.8,
   'wpgt': None,
   'pres': 1034.7,
   'tsun': None},
  {'date': '2016-01-06',
   'tavg': -1.4,
   'tmin': -6.0,
   'tmax': 4.4,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 235.0,
   'wspd': 12.2,
   'wpgt': None,
   'pres': 1034.0,
   'tsun': None},
  {'date': '2016-01-07',
   'tavg': 2.7,
   'tmin': -2.7,
   'tmax': 7.8,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': None,
   'wspd': 6.1,
   'wpgt': None,
   'pres': 1026.3,
   'tsun': None},
  {'date': '2016-01-08',
   'tavg': 4.3,
   'tmin': 0.0,
   'tmax': 8.3,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 36.0,
   'wspd': 14.4,
   'wpgt': None,
   'pres': 1022.8,
   'tsun': None},
  {'date': '2016-01-09',
   'tavg': 7.2,
   'tmin': 4.4,
   'tmax': 11.7,
   'prcp': 0.5,
   'snow': 0.0,
   'wdir': 66.0,
   'wspd': 18.7,
   'wpgt': None,
   'pres': 1021.3,
   'tsun': None},
  {'date': '2016-01-10',
   'tavg': 11.2,
   'tmin': 5.0,
   'tmax': 14.4,
   'prcp': 32.5,
   'snow': 0.0,
   'wdir': 152.0,
   'wspd': 33.8,
   'wpgt': None,
   'pres': 1002.2,
   'tsun': None},
  {'date': '2016-01-11',
   'tavg': 3.1,
   'tmin': -3.2,
   'tmax': 5.0,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 276.0,
   'wspd': 31.7,
   'wpgt': None,
   'pres': 1013.0,
   'tsun': None},
  {'date': '2016-01-12',
   'tavg': 0.4,
   'tmin': -5.5,
   'tmax': 7.2,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 210.0,
   'wspd': 22.3,
   'wpgt': None,
   'pres': 1012.1,
   'tsun': None},
  {'date': '2016-01-13',
   'tavg': -1.4,
   'tmin': -4.3,
   'tmax': -0.5,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 277.0,
   'wspd': 33.5,
   'wpgt': None,
   'pres': 1014.4,
   'tsun': None},
  {'date': '2016-01-14',
   'tavg': -1.5,
   'tmin': -4.3,
   'tmax': 3.9,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 264.0,
   'wspd': 16.9,
   'wpgt': None,
   'pres': 1014.9,
   'tsun': None},
  {'date': '2016-01-15',
   'tavg': 4.6,
   'tmin': -0.5,
   'tmax': 10.6,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 104.0,
   'wspd': 11.2,
   'wpgt': None,
   'pres': 1010.8,
   'tsun': None},
  {'date': '2016-01-16',
   'tavg': 8.7,
   'tmin': 6.1,
   'tmax': 12.2,
   'prcp': 8.4,
   'snow': 0.0,
   'wdir': 312.0,
   'wspd': 22.0,
   'wpgt': None,
   'pres': 1000.3,
   'tsun': None},
  {'date': '2016-01-17',
   'tavg': 3.9,
   'tmin': -0.5,
   'tmax': 6.1,
   'prcp': 1.3,
   'snow': 0.0,
   'wdir': 344.0,
   'wspd': 16.9,
   'wpgt': None,
   'pres': 1009.1,
   'tsun': None},
  {'date': '2016-01-18',
   'tavg': -1.8,
   'tmin': -6.6,
   'tmax': 0.6,
   'prcp': 0.0,
   'snow': 30.0,
   'wdir': 283.0,
   'wspd': 34.6,
   'wpgt': None,
   'pres': 1010.3,
   'tsun': None},
  {'date': '2016-01-19',
   'tavg': -5.2,
   'tmin': -7.7,
   'tmax': -0.5,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 290.0,
   'wspd': 35.3,
   'wpgt': None,
   'pres': 1017.2,
   'tsun': None},
  {'date': '2016-01-20',
   'tavg': 0.2,
   'tmin': -2.1,
   'tmax': 4.4,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 315.0,
   'wspd': 19.4,
   'wpgt': None,
   'pres': 1020.9,
   'tsun': None},
  {'date': '2016-01-21',
   'tavg': 0.4,
   'tmin': -2.7,
   'tmax': 3.9,
   'prcp': 0.0,
   'snow': 0.0,
   'wdir': 328.0,
   'wspd': 22.0,
   'wpgt': None,
   'pres': 1020.9,
   'tsun': None},
  {'date': '2016-01-22',
   'tavg': -2.6,
   'tmin': -6.0,
   'tmax': -1.0,
   'prcp': 0.3,
   'snow': 0.0,
   'wdir': 8.0,
   'wspd': 18.4,
   'wpgt': None,
   'pres': 1023.9,
   'tsun': None},
  {'date': '2016-01-23',
   'tavg': -1.8,
   'tmin': -3.2,
   'tmax': -0.5,
   'prcp': 73.7,
   'snow': 180.0,
   'wdir': 27.0,
   'wspd': 40.3,
   'wpgt': None,
   'pres': 1007.4,
   'tsun': None},
  {'date': '2016-01-24',
   'tavg': -2.7,
   'tmin': -7.1,
   'tmax': 1.7,
   'prcp': 0.0,
   'snow': 710.0,
   'wdir': 328.0,
   'wspd': 20.5,
   'wpgt': None,
   'pres': 1013.5,
   'tsun': None},
  {'date': '2016-01-25',
   'tavg': -0.7,
   'tmin': -6.6,
   'tmax': 3.9,
   'prcp': 0.0,
   'snow': 660.0,
   'wdir': None,
   'wspd': 6.8,
   'wpgt': None,
   'pres': 1024.7,
   'tsun': None},
  {'date': '2016-01-26',
   'tavg': 3.7,
   'tmin': 1.7,
   'tmax': 7.2,
   'prcp': 0.0,
   'snow': 560.0,
   'wdir': 204.0,
   'wspd': 15.5,
   'wpgt': None,
   'pres': 1018.1,
   'tsun': None},
  {'date': '2016-01-27',
   'tavg': 5.9,
   'tmin': -0.5,
   'tmax': 7.2,
   'prcp': 0.0,
   'snow': 380.0,
   'wdir': 300.0,
   'wspd': 18.4,
   'wpgt': None,
   'pres': 1017.1,
   'tsun': None},
  {'date': '2016-01-28',
   'tavg': 1.4,
   'tmin': -3.8,
   'tmax': 5.6,
   'prcp': 0.0,
   'snow': 280.0,
   'wdir': None,
   'wspd': 5.8,
   'wpgt': None,
   'pres': 1014.0,
   'tsun': None},
  {'date': '2016-01-29',
   'tavg': 3.2,
   'tmin': -0.5,
   'tmax': 5.6,
   'prcp': 0.0,
   'snow': 230.0,
   'wdir': 280.0,
   'wspd': 21.2,
   'wpgt': None,
   'pres': 1001.7,
   'tsun': None},
  {'date': '2016-01-30',
   'tavg': 0.8,
   'tmin': -2.1,
   'tmax': 3.9,
   'prcp': 0.0,
   'snow': 180.0,
   'wdir': 256.0,
   'wspd': 18.4,
   'wpgt': None,
   'pres': 1016.8,
   'tsun': None},
  {'date': '2016-01-31',
   'tavg': 4.4,
   'tmin': 0.6,
   'tmax': 8.9,
   'prcp': 0.0,
   'snow': 130.0,
   'wdir': 200.0,
   'wspd': 13.7,
   'wpgt': None,
   'pres': 1013.7,
   'tsun': None}]}

In [14]:
# Import json package
import json

# Create json object: json_object
json_object = json.loads(r.content)

# Print json_object
json.dumps(json_object, indent = 3)

'{\n   "meta": {\n      "generated": "2024-07-19 10:24:58",\n      "stations": [\n         "74486",\n         "72502",\n         "KNYC0",\n         "KTEB0"\n      ]\n   },\n   "data": [\n      {\n         "date": "2016-01-01",\n         "tavg": 5.8,\n         "tmin": 2.2,\n         "tmax": 6.7,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 283.0,\n         "wspd": 23.4,\n         "wpgt": null,\n         "pres": 1017.3,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-02",\n         "tavg": 3.1,\n         "tmin": 1.1,\n         "tmax": 5.0,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 277.0,\n         "wspd": 20.9,\n         "wpgt": null,\n         "pres": 1017.4,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-03",\n         "tavg": 4.6,\n         "tmin": 1.7,\n         "tmax": 8.9,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 258.0,\n         "wspd": 22.7,\n         "wpgt": null,\n         "pres": 1011.8,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-04",\n         "tavg": 1.0,\n         "tmin": -9.3,\n         "tmax": 3.3,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 333.0,\n         "wspd": 32.0,\n         "wpgt": null,\n         "pres": 1017.7,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-05",\n         "tavg": -7.2,\n         "tmin": -11.0,\n         "tmax": -1.6,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 351.0,\n         "wspd": 19.8,\n         "wpgt": null,\n         "pres": 1034.7,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-06",\n         "tavg": -1.4,\n         "tmin": -6.0,\n         "tmax": 4.4,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 235.0,\n         "wspd": 12.2,\n         "wpgt": null,\n         "pres": 1034.0,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-07",\n         "tavg": 2.7,\n         "tmin": -2.7,\n         "tmax": 7.8,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": null,\n         "wspd": 6.1,\n         "wpgt": null,\n         "pres": 1026.3,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-08",\n         "tavg": 4.3,\n         "tmin": 0.0,\n         "tmax": 8.3,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 36.0,\n         "wspd": 14.4,\n         "wpgt": null,\n         "pres": 1022.8,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-09",\n         "tavg": 7.2,\n         "tmin": 4.4,\n         "tmax": 11.7,\n         "prcp": 0.5,\n         "snow": 0.0,\n         "wdir": 66.0,\n         "wspd": 18.7,\n         "wpgt": null,\n         "pres": 1021.3,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-10",\n         "tavg": 11.2,\n         "tmin": 5.0,\n         "tmax": 14.4,\n         "prcp": 32.5,\n         "snow": 0.0,\n         "wdir": 152.0,\n         "wspd": 33.8,\n         "wpgt": null,\n         "pres": 1002.2,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-11",\n         "tavg": 3.1,\n         "tmin": -3.2,\n         "tmax": 5.0,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 276.0,\n         "wspd": 31.7,\n         "wpgt": null,\n         "pres": 1013.0,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-12",\n         "tavg": 0.4,\n         "tmin": -5.5,\n         "tmax": 7.2,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 210.0,\n         "wspd": 22.3,\n         "wpgt": null,\n         "pres": 1012.1,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-13",\n         "tavg": -1.4,\n         "tmin": -4.3,\n         "tmax": -0.5,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 277.0,\n         "wspd": 33.5,\n         "wpgt": null,\n         "pres": 1014.4,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-14",\n         "tavg": -1.5,\n         "tmin": -4.3,\n         "tmax": 3.9,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 264.0,\n         "wspd": 16.9,\n         "wpgt": null,\n         "pres": 1014.9,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-15",\n         "tavg": 4.6,\n         "tmin": -0.5,\n         "tmax": 10.6,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 104.0,\n         "wspd": 11.2,\n         "wpgt": null,\n         "pres": 1010.8,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-16",\n         "tavg": 8.7,\n         "tmin": 6.1,\n         "tmax": 12.2,\n         "prcp": 8.4,\n         "snow": 0.0,\n         "wdir": 312.0,\n         "wspd": 22.0,\n         "wpgt": null,\n         "pres": 1000.3,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-17",\n         "tavg": 3.9,\n         "tmin": -0.5,\n         "tmax": 6.1,\n         "prcp": 1.3,\n         "snow": 0.0,\n         "wdir": 344.0,\n         "wspd": 16.9,\n         "wpgt": null,\n         "pres": 1009.1,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-18",\n         "tavg": -1.8,\n         "tmin": -6.6,\n         "tmax": 0.6,\n         "prcp": 0.0,\n         "snow": 30.0,\n         "wdir": 283.0,\n         "wspd": 34.6,\n         "wpgt": null,\n         "pres": 1010.3,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-19",\n         "tavg": -5.2,\n         "tmin": -7.7,\n         "tmax": -0.5,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 290.0,\n         "wspd": 35.3,\n         "wpgt": null,\n         "pres": 1017.2,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-20",\n         "tavg": 0.2,\n         "tmin": -2.1,\n         "tmax": 4.4,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 315.0,\n         "wspd": 19.4,\n         "wpgt": null,\n         "pres": 1020.9,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-21",\n         "tavg": 0.4,\n         "tmin": -2.7,\n         "tmax": 3.9,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 328.0,\n         "wspd": 22.0,\n         "wpgt": null,\n         "pres": 1020.9,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-22",\n         "tavg": -2.6,\n         "tmin": -6.0,\n         "tmax": -1.0,\n         "prcp": 0.3,\n         "snow": 0.0,\n         "wdir": 8.0,\n         "wspd": 18.4,\n         "wpgt": null,\n         "pres": 1023.9,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-23",\n         "tavg": -1.8,\n         "tmin": -3.2,\n         "tmax": -0.5,\n         "prcp": 73.7,\n         "snow": 180.0,\n         "wdir": 27.0,\n         "wspd": 40.3,\n         "wpgt": null,\n         "pres": 1007.4,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-24",\n         "tavg": -2.7,\n         "tmin": -7.1,\n         "tmax": 1.7,\n         "prcp": 0.0,\n         "snow": 710.0,\n         "wdir": 328.0,\n         "wspd": 20.5,\n         "wpgt": null,\n         "pres": 1013.5,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-25",\n         "tavg": -0.7,\n         "tmin": -6.6,\n         "tmax": 3.9,\n         "prcp": 0.0,\n         "snow": 660.0,\n         "wdir": null,\n         "wspd": 6.8,\n         "wpgt": null,\n         "pres": 1024.7,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-26",\n         "tavg": 3.7,\n         "tmin": 1.7,\n         "tmax": 7.2,\n         "prcp": 0.0,\n         "snow": 560.0,\n         "wdir": 204.0,\n         "wspd": 15.5,\n         "wpgt": null,\n         "pres": 1018.1,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-27",\n         "tavg": 5.9,\n         "tmin": -0.5,\n         "tmax": 7.2,\n         "prcp": 0.0,\n         "snow": 380.0,\n         "wdir": 300.0,\n         "wspd": 18.4,\n         "wpgt": null,\n         "pres": 1017.1,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-28",\n         "tavg": 1.4,\n         "tmin": -3.8,\n         "tmax": 5.6,\n         "prcp": 0.0,\n         "snow": 280.0,\n         "wdir": null,\n         "wspd": 5.8,\n         "wpgt": null,\n         "pres": 1014.0,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-29",\n         "tavg": 3.2,\n         "tmin": -0.5,\n         "tmax": 5.6,\n         "prcp": 0.0,\n         "snow": 230.0,\n         "wdir": 280.0,\n         "wspd": 21.2,\n         "wpgt": null,\n         "pres": 1001.7,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-30",\n         "tavg": 0.8,\n         "tmin": -2.1,\n         "tmax": 3.9,\n         "prcp": 0.0,\n         "snow": 180.0,\n         "wdir": 256.0,\n         "wspd": 18.4,\n         "wpgt": null,\n         "pres": 1016.8,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-31",\n         "tavg": 4.4,\n         "tmin": 0.6,\n         "tmax": 8.9,\n         "prcp": 0.0,\n         "snow": 130.0,\n         "wdir": 200.0,\n         "wspd": 13.7,\n         "wpgt": null,\n         "pres": 1013.7,\n         "tsun": null\n      }\n   ]\n}'

In [16]:
# Loop through and print all key-value pairs
for key, value in weather_jfk.items():
    print( key + ':', value)

meta: {'generated': '2024-07-19 10:24:58', 'stations': ['74486', '72502', 'KNYC0', 'KTEB0']}
data: [{'date': '2016-01-01', 'tavg': 5.8, 'tmin': 2.2, 'tmax': 6.7, 'prcp': 0.0, 'snow': 0.0, 'wdir': 283.0, 'wspd': 23.4, 'wpgt': None, 'pres': 1017.3, 'tsun': None}, {'date': '2016-01-02', 'tavg': 3.1, 'tmin': 1.1, 'tmax': 5.0, 'prcp': 0.0, 'snow': 0.0, 'wdir': 277.0, 'wspd': 20.9, 'wpgt': None, 'pres': 1017.4, 'tsun': None}, {'date': '2016-01-03', 'tavg': 4.6, 'tmin': 1.7, 'tmax': 8.9, 'prcp': 0.0, 'snow': 0.0, 'wdir': 258.0, 'wspd': 22.7, 'wpgt': None, 'pres': 1011.8, 'tsun': None}, {'date': '2016-01-04', 'tavg': 1.0, 'tmin': -9.3, 'tmax': 3.3, 'prcp': 0.0, 'snow': 0.0, 'wdir': 333.0, 'wspd': 32.0, 'wpgt': None, 'pres': 1017.7, 'tsun': None}, {'date': '2016-01-05', 'tavg': -7.2, 'tmin': -11.0, 'tmax': -1.6, 'prcp': 0.0, 'snow': 0.0, 'wdir': 351.0, 'wspd': 19.8, 'wpgt': None, 'pres': 1034.7, 'tsun': None}, {'date': '2016-01-06', 'tavg': -1.4, 'tmin': -6.0, 'tmax': 4.4, 'prcp': 0.0, 'snow': 0.0, 'wdir': 235.0, 'wspd': 12.2, 'wpgt': None, 'pres': 1034.0, 'tsun': None}, {'date': '2016-01-07', 'tavg': 2.7, 'tmin': -2.7, 'tmax': 7.8, 'prcp': 0.0, 'snow': 0.0, 'wdir': None, 'wspd': 6.1, 'wpgt': None, 'pres': 1026.3, 'tsun': None}, {'date': '2016-01-08', 'tavg': 4.3, 'tmin': 0.0, 'tmax': 8.3, 'prcp': 0.0, 'snow': 0.0, 'wdir': 36.0, 'wspd': 14.4, 'wpgt': None, 'pres': 1022.8, 'tsun': None}, {'date': '2016-01-09', 'tavg': 7.2, 'tmin': 4.4, 'tmax': 11.7, 'prcp': 0.5, 'snow': 0.0, 'wdir': 66.0, 'wspd': 18.7, 'wpgt': None, 'pres': 1021.3, 'tsun': None}, {'date': '2016-01-10', 'tavg': 11.2, 'tmin': 5.0, 'tmax': 14.4, 'prcp': 32.5, 'snow': 0.0, 'wdir': 152.0, 'wspd': 33.8, 'wpgt': None, 'pres': 1002.2, 'tsun': None}, {'date': '2016-01-11', 'tavg': 3.1, 'tmin': -3.2, 'tmax': 5.0, 'prcp': 0.0, 'snow': 0.0, 'wdir': 276.0, 'wspd': 31.7, 'wpgt': None, 'pres': 1013.0, 'tsun': None}, {'date': '2016-01-12', 'tavg': 0.4, 'tmin': -5.5, 'tmax': 7.2, 'prcp': 0.0, 'snow': 0.0, 'wdir': 210.0, 'wspd': 22.3, 'wpgt': None, 'pres': 1012.1, 'tsun': None}, {'date': '2016-01-13', 'tavg': -1.4, 'tmin': -4.3, 'tmax': -0.5, 'prcp': 0.0, 'snow': 0.0, 'wdir': 277.0, 'wspd': 33.5, 'wpgt': None, 'pres': 1014.4, 'tsun': None}, {'date': '2016-01-14', 'tavg': -1.5, 'tmin': -4.3, 'tmax': 3.9, 'prcp': 0.0, 'snow': 0.0, 'wdir': 264.0, 'wspd': 16.9, 'wpgt': None, 'pres': 1014.9, 'tsun': None}, {'date': '2016-01-15', 'tavg': 4.6, 'tmin': -0.5, 'tmax': 10.6, 'prcp': 0.0, 'snow': 0.0, 'wdir': 104.0, 'wspd': 11.2, 'wpgt': None, 'pres': 1010.8, 'tsun': None}, {'date': '2016-01-16', 'tavg': 8.7, 'tmin': 6.1, 'tmax': 12.2, 'prcp': 8.4, 'snow': 0.0, 'wdir': 312.0, 'wspd': 22.0, 'wpgt': None, 'pres': 1000.3, 'tsun': None}, {'date': '2016-01-17', 'tavg': 3.9, 'tmin': -0.5, 'tmax': 6.1, 'prcp': 1.3, 'snow': 0.0, 'wdir': 344.0, 'wspd': 16.9, 'wpgt': None, 'pres': 1009.1, 'tsun': None}, {'date': '2016-01-18', 'tavg': -1.8, 'tmin': -6.6, 'tmax': 0.6, 'prcp': 0.0, 'snow': 30.0, 'wdir': 283.0, 'wspd': 34.6, 'wpgt': None, 'pres': 1010.3, 'tsun': None}, {'date': '2016-01-19', 'tavg': -5.2, 'tmin': -7.7, 'tmax': -0.5, 'prcp': 0.0, 'snow': 0.0, 'wdir': 290.0, 'wspd': 35.3, 'wpgt': None, 'pres': 1017.2, 'tsun': None}, {'date': '2016-01-20', 'tavg': 0.2, 'tmin': -2.1, 'tmax': 4.4, 'prcp': 0.0, 'snow': 0.0, 'wdir': 315.0, 'wspd': 19.4, 'wpgt': None, 'pres': 1020.9, 'tsun': None}, {'date': '2016-01-21', 'tavg': 0.4, 'tmin': -2.7, 'tmax': 3.9, 'prcp': 0.0, 'snow': 0.0, 'wdir': 328.0, 'wspd': 22.0, 'wpgt': None, 'pres': 1020.9, 'tsun': None}, {'date': '2016-01-22', 'tavg': -2.6, 'tmin': -6.0, 'tmax': -1.0, 'prcp': 0.3, 'snow': 0.0, 'wdir': 8.0, 'wspd': 18.4, 'wpgt': None, 'pres': 1023.9, 'tsun': None}, {'date': '2016-01-23', 'tavg': -1.8, 'tmin': -3.2, 'tmax': -0.5, 'prcp': 73.7, 'snow': 180.0, 'wdir': 27.0, 'wspd': 40.3, 'wpgt': None, 'pres': 1007.4, 'tsun': None}, {'date': '2016-01-24', 'tavg': -2.7, 'tmin': -7.1, 'tmax': 1.7, 'prcp': 0.0, 'snow': 710.0, 'wdir': 328.0, 'wspd': 20.5, 'wpgt': None, 'pres': 1013.5, 'tsun': None}, {'date': '2016-01-25', 'tavg': -0.7, 'tmin': -6.6, 'tmax': 3.9, 'prcp': 0.0, 'snow': 660.0, 'wdir': None, 'wspd': 6.8, 'wpgt': None, 'pres': 1024.7, 'tsun': None}, {'date': '2016-01-26', 'tavg': 3.7, 'tmin': 1.7, 'tmax': 7.2, 'prcp': 0.0, 'snow': 560.0, 'wdir': 204.0, 'wspd': 15.5, 'wpgt': None, 'pres': 1018.1, 'tsun': None}, {'date': '2016-01-27', 'tavg': 5.9, 'tmin': -0.5, 'tmax': 7.2, 'prcp': 0.0, 'snow': 380.0, 'wdir': 300.0, 'wspd': 18.4, 'wpgt': None, 'pres': 1017.1, 'tsun': None}, {'date': '2016-01-28', 'tavg': 1.4, 'tmin': -3.8, 'tmax': 5.6, 'prcp': 0.0, 'snow': 280.0, 'wdir': None, 'wspd': 5.8, 'wpgt': None, 'pres': 1014.0, 'tsun': None}, {'date': '2016-01-29', 'tavg': 3.2, 'tmin': -0.5, 'tmax': 5.6, 'prcp': 0.0, 'snow': 230.0, 'wdir': 280.0, 'wspd': 21.2, 'wpgt': None, 'pres': 1001.7, 'tsun': None}, {'date': '2016-01-30', 'tavg': 0.8, 'tmin': -2.1, 'tmax': 3.9, 'prcp': 0.0, 'snow': 180.0, 'wdir': 256.0, 'wspd': 18.4, 'wpgt': None, 'pres': 1016.8, 'tsun': None}, {'date': '2016-01-31', 'tavg': 4.4, 'tmin': 0.6, 'tmax': 8.9, 'prcp': 0.0, 'snow': 130.0, 'wdir': 200.0, 'wspd': 13.7, 'wpgt': None, 'pres': 1013.7, 'tsun': None}]

In [31]:
weather_jfk

{'message': 'You are not subscribed to this API.'}

In [32]:
# Print values in meta
print(weather_jfk['meta'])

# Print values in data
print(weather_jfk['data'])

KeyError: 'meta'

In [ ]:
# Print content of json_object
json.dumps(json_object, indent = 3)

'{\n   "meta": {\n      "generated": "2024-07-19 10:24:58",\n      "stations": [\n         "74486",\n         "72502",\n         "KNYC0",\n         "KTEB0"\n      ]\n   },\n   "data": [\n      {\n         "date": "2016-01-01",\n         "tavg": 5.8,\n         "tmin": 2.2,\n         "tmax": 6.7,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 283.0,\n         "wspd": 23.4,\n         "wpgt": null,\n         "pres": 1017.3,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-02",\n         "tavg": 3.1,\n         "tmin": 1.1,\n         "tmax": 5.0,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 277.0,\n         "wspd": 20.9,\n         "wpgt": null,\n         "pres": 1017.4,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-03",\n         "tavg": 4.6,\n         "tmin": 1.7,\n         "tmax": 8.9,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 258.0,\n         "wspd": 22.7,\n         "wpgt": null,\n         "pres": 1011.8,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-04",\n         "tavg": 1.0,\n         "tmin": -9.3,\n         "tmax": 3.3,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 333.0,\n         "wspd": 32.0,\n         "wpgt": null,\n         "pres": 1017.7,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-05",\n         "tavg": -7.2,\n         "tmin": -11.0,\n         "tmax": -1.6,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 351.0,\n         "wspd": 19.8,\n         "wpgt": null,\n         "pres": 1034.7,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-06",\n         "tavg": -1.4,\n         "tmin": -6.0,\n         "tmax": 4.4,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 235.0,\n         "wspd": 12.2,\n         "wpgt": null,\n         "pres": 1034.0,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-07",\n         "tavg": 2.7,\n         "tmin": -2.7,\n         "tmax": 7.8,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": null,\n         "wspd": 6.1,\n         "wpgt": null,\n         "pres": 1026.3,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-08",\n         "tavg": 4.3,\n         "tmin": 0.0,\n         "tmax": 8.3,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 36.0,\n         "wspd": 14.4,\n         "wpgt": null,\n         "pres": 1022.8,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-09",\n         "tavg": 7.2,\n         "tmin": 4.4,\n         "tmax": 11.7,\n         "prcp": 0.5,\n         "snow": 0.0,\n         "wdir": 66.0,\n         "wspd": 18.7,\n         "wpgt": null,\n         "pres": 1021.3,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-10",\n         "tavg": 11.2,\n         "tmin": 5.0,\n         "tmax": 14.4,\n         "prcp": 32.5,\n         "snow": 0.0,\n         "wdir": 152.0,\n         "wspd": 33.8,\n         "wpgt": null,\n         "pres": 1002.2,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-11",\n         "tavg": 3.1,\n         "tmin": -3.2,\n         "tmax": 5.0,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 276.0,\n         "wspd": 31.7,\n         "wpgt": null,\n         "pres": 1013.0,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-12",\n         "tavg": 0.4,\n         "tmin": -5.5,\n         "tmax": 7.2,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 210.0,\n         "wspd": 22.3,\n         "wpgt": null,\n         "pres": 1012.1,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-13",\n         "tavg": -1.4,\n         "tmin": -4.3,\n         "tmax": -0.5,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 277.0,\n         "wspd": 33.5,\n         "wpgt": null,\n         "pres": 1014.4,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-14",\n         "tavg": -1.5,\n         "tmin": -4.3,\n         "tmax": 3.9,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 264.0,\n         "wspd": 16.9,\n         "wpgt": null,\n         "pres": 1014.9,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-15",\n         "tavg": 4.6,\n         "tmin": -0.5,\n         "tmax": 10.6,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 104.0,\n         "wspd": 11.2,\n         "wpgt": null,\n         "pres": 1010.8,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-16",\n         "tavg": 8.7,\n         "tmin": 6.1,\n         "tmax": 12.2,\n         "prcp": 8.4,\n         "snow": 0.0,\n         "wdir": 312.0,\n         "wspd": 22.0,\n         "wpgt": null,\n         "pres": 1000.3,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-17",\n         "tavg": 3.9,\n         "tmin": -0.5,\n         "tmax": 6.1,\n         "prcp": 1.3,\n         "snow": 0.0,\n         "wdir": 344.0,\n         "wspd": 16.9,\n         "wpgt": null,\n         "pres": 1009.1,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-18",\n         "tavg": -1.8,\n         "tmin": -6.6,\n         "tmax": 0.6,\n         "prcp": 0.0,\n         "snow": 30.0,\n         "wdir": 283.0,\n         "wspd": 34.6,\n         "wpgt": null,\n         "pres": 1010.3,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-19",\n         "tavg": -5.2,\n         "tmin": -7.7,\n         "tmax": -0.5,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 290.0,\n         "wspd": 35.3,\n         "wpgt": null,\n         "pres": 1017.2,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-20",\n         "tavg": 0.2,\n         "tmin": -2.1,\n         "tmax": 4.4,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 315.0,\n         "wspd": 19.4,\n         "wpgt": null,\n         "pres": 1020.9,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-21",\n         "tavg": 0.4,\n         "tmin": -2.7,\n         "tmax": 3.9,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 328.0,\n         "wspd": 22.0,\n         "wpgt": null,\n         "pres": 1020.9,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-22",\n         "tavg": -2.6,\n         "tmin": -6.0,\n         "tmax": -1.0,\n         "prcp": 0.3,\n         "snow": 0.0,\n         "wdir": 8.0,\n         "wspd": 18.4,\n         "wpgt": null,\n         "pres": 1023.9,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-23",\n         "tavg": -1.8,\n         "tmin": -3.2,\n         "tmax": -0.5,\n         "prcp": 73.7,\n         "snow": 180.0,\n         "wdir": 27.0,\n         "wspd": 40.3,\n         "wpgt": null,\n         "pres": 1007.4,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-24",\n         "tavg": -2.7,\n         "tmin": -7.1,\n         "tmax": 1.7,\n         "prcp": 0.0,\n         "snow": 710.0,\n         "wdir": 328.0,\n         "wspd": 20.5,\n         "wpgt": null,\n         "pres": 1013.5,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-25",\n         "tavg": -0.7,\n         "tmin": -6.6,\n         "tmax": 3.9,\n         "prcp": 0.0,\n         "snow": 660.0,\n         "wdir": null,\n         "wspd": 6.8,\n         "wpgt": null,\n         "pres": 1024.7,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-26",\n         "tavg": 3.7,\n         "tmin": 1.7,\n         "tmax": 7.2,\n         "prcp": 0.0,\n         "snow": 560.0,\n         "wdir": 204.0,\n         "wspd": 15.5,\n         "wpgt": null,\n         "pres": 1018.1,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-27",\n         "tavg": 5.9,\n         "tmin": -0.5,\n         "tmax": 7.2,\n         "prcp": 0.0,\n         "snow": 380.0,\n         "wdir": 300.0,\n         "wspd": 18.4,\n         "wpgt": null,\n         "pres": 1017.1,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-28",\n         "tavg": 1.4,\n         "tmin": -3.8,\n         "tmax": 5.6,\n         "prcp": 0.0,\n         "snow": 280.0,\n         "wdir": null,\n         "wspd": 5.8,\n         "wpgt": null,\n         "pres": 1014.0,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-29",\n         "tavg": 3.2,\n         "tmin": -0.5,\n         "tmax": 5.6,\n         "prcp": 0.0,\n         "snow": 230.0,\n         "wdir": 280.0,\n         "wspd": 21.2,\n         "wpgt": null,\n         "pres": 1001.7,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-30",\n         "tavg": 0.8,\n         "tmin": -2.1,\n         "tmax": 3.9,\n         "prcp": 0.0,\n         "snow": 180.0,\n         "wdir": 256.0,\n         "wspd": 18.4,\n         "wpgt": null,\n         "pres": 1016.8,\n         "tsun": null\n      },\n      {\n         "date": "2016-01-31",\n         "tavg": 4.4,\n         "tmin": 0.6,\n         "tmax": 8.9,\n         "prcp": 0.0,\n         "snow": 130.0,\n         "wdir": 200.0,\n         "wspd": 13.7,\n         "wpgt": null,\n         "pres": 1013.7,\n         "tsun": null\n      }\n   ]\n}'

In [ ]:
# Flatten json and save in weather_jfk_norm
weather_jfk_norm = pd.json_normalize(weather_jfk, sep="_")

# Print weather_hh_norm
weather_jfk_norm

,data,meta_generated,meta_stations
0,"[{'date': '2016-01-01', 'tavg': 5.8, 'tmin': 2...",2024-07-19 10:24:58,"[74486, 72502, KNYC0, KTEB0]"

In [ ]:
weather_jfk_df = pd.json_normalize(weather_jfk,
                                    sep="_",
                                    record_path="data",
                                    ##meta=[["meta", "generated"], ["meta", "stations"]],
                                    record_prefix="weather_")
weather_jfk_df.head()

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun
0,2016-01-01,5.8,2.2,6.7,0.0,0.0,283.0,23.4,None,1017.3,None
1,2016-01-02,3.1,1.1,5.0,0.0,0.0,277.0,20.9,None,1017.4,None
2,2016-01-03,4.6,1.7,8.9,0.0,0.0,258.0,22.7,None,1011.8,None
3,2016-01-04,1.0,-9.3,3.3,0.0,0.0,333.0,32.0,None,1017.7,None
4,2016-01-05,-7.2,-11.0,-1.6,0.0,0.0,351.0,19.8,None,1034.7,None

In [17]:
import time

In [ ]:
# Set the url
url = "https://meteostat.p.rapidapi.com/point/daily" 

# Set lat and lon
#lats  = ["40.6413","40.776863","40.689491","39.8730","38.9523","38.8513"]
#lons = ["-73.7781","-73.8740","-74.1745","-75.2437","-77.4586","-77.0360"]
lats = ["40.776863"]
lons = ["-73.8740"]
start = "2016-01-01"
end   = "2016-01-31"
# Set unit of measurement
unit = "&units=metric"

# Set API key (defined already)
api_key = os.getenv('x-rapidapi-key')
headers = {
    "X-RapidAPI-Host": "meteostat.p.rapidapi.com",
    "X-RapidAPI-key" : os.getenv('x-rapidapi-key')
    }

# Create empty dataframe, will be used to append each location's weather data
weather_df = pd.DataFrame([])

# Loop through all locations
for lat, lon in zip(lats, lons):
    # Create final url
    url_f = url + lat + lon + start + end +  unit + api_key
    print(url_f)
    # Request data from url
    r = requests.get(url_f,headers)
    
    time.sleep(1) #uncomment if you run into a query limit
    
    # Decode repsonse with json decoder
    weather_temp = r.json()

    # Flatten json response
    weather_jfk_df = pd.json_normalize(weather_jfk,
                                       sep="_",
                                       record_path="data",
                                       #meta=[["meta", "generated"], ["meta", "stations"]],
                                       record_prefix="weather_"
                                         )
    # concatenate dataframes
    weather_df = pd.concat([weather_df, weather_temp_df], ignore_index=True)

# Print final dataset weather_df
weather_df

https://meteostat.p.rapidapi.com/point/daily40.776863-73.87402016-01-012016-01-31&units=metriccd067ef5d0msh35ab94cb6bae943p1f6932jsn5c238db36c05

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,lat,lon,faa
0,2016-01-01,6.7,2.2,8.3,0.0,0.0,317.0,13.3,None,1020.5,None,38.8513,-77.0360,DCA
1,2016-01-02,4.2,0.0,8.9,0.0,0.0,224.0,10.1,None,1019.4,None,38.8513,-77.0360,DCA
2,2016-01-03,4.9,0.0,12.2,0.0,0.0,210.0,12.6,None,1013.7,None,38.8513,-77.0360,DCA
3,2016-01-04,2.0,-6.0,3.3,0.0,0.0,338.0,27.0,None,1020.3,None,38.8513,-77.0360,DCA
4,2016-01-05,-4.3,-8.8,1.1,0.0,0.0,335.0,16.6,None,1036.5,None,38.8513,-77.0360,DCA
5,2016-01-06,-1.7,-6.6,4.4,0.0,0.0,182.0,6.1,None,1034.6,None,38.8513,-77.0360,DCA
6,2016-01-07,3.3,1.1,6.1,0.0,0.0,NaN,4.3,None,1026.3,None,38.8513,-77.0360,DCA
7,2016-01-08,5.1,4.4,7.2,0.0,0.0,28.0,7.2,None,NaN,None,38.8513,-77.0360,DCA
8,2016-01-09,6.9,5.0,10.0,5.8,0.0,24.0,7.6,None,1018.6,None,38.8513,-77.0360,DCA
9,2016-01-10,12.5,2.8,16.7,14.2,0.0,230.0,27.4,None,1001.7,None,38.8513,-77.0360,DCA
10,2016-01-11,2.3,-2.1,5.0,0.0,0.0,298.0,15.8,None,1017.3,None,38.8513,-77.0360,DCA
11,2016-01-12,2.1,-2.1,8.3,0.0,0.0,210.0,21.6,None,1012.7,None,38.8513,-77.0360,DCA
12,2016-01-13,-2.0,-6.0,0.0,0.0,0.0,298.0,16.2,None,1020.1,None,38.8513,-77.0360,DCA
13,2016-01-14,1.7,-2.1,11.7,0.0,0.0,187.0,12.2,None,1015.2,None,38.8513,-77.0360,DCA
14,2016-01-15,5.9,1.1,10.0,8.1,0.0,176.0,9.4,None,1009.3,None,38.8513,-77.0360,DCA
15,2016-01-16,7.1,3.3,11.7,0.3,0.0,298.0,14.8,None,1003.8,None,38.8513,-77.0360,DCA
16,2016-01-17,2.9,0.0,3.3,1.3,0.0,348.0,10.4,None,1010.6,None,38.8513,-77.0360,DCA
17,2016-01-18,-3.1,-8.8,1.1,0.0,0.0,296.0,28.4,None,1018.0,None,38.8513,-77.0360,DCA
18,2016-01-19,-6.9,-9.3,-2.1,0.0,0.0,302.0,24.1,None,1026.2,None,38.8513,-77.0360,DCA
19,2016-01-20,-4.5,-7.1,-0.5,0.8,0.0,282.0,13.0,None,1025.8,None,38.8513,-77.0360,DCA
20,2016-01-21,-2.3,-4.3,1.1,0.0,0.0,307.0,19.4,None,1025.0,None,38.8513,-77.0360,DCA
21,2016-01-22,-3.3,-5.5,-1.6,13.0,0.0,20.0,18.7,None,1022.9,None,38.8513,-77.0360,DCA
22,2016-01-23,-3.7,-4.3,-1.6,24.6,360.0,355.0,36.7,None,NaN,None,38.8513,-77.0360,DCA
23,2016-01-24,-2.1,-7.1,1.7,0.0,460.0,315.0,14.8,None,1017.6,None,38.8513,-77.0360,DCA
24,2016-01-25,-2.9,-8.8,5.6,0.0,430.0,NaN,3.6,None,1024.2,None,38.8513,-77.0360,DCA
25,2016-01-26,4.1,-1.0,11.1,0.0,250.0,202.0,12.6,None,1018.2,None,38.8513,-77.0360,DCA
26,2016-01-27,5.7,-0.5,8.9,0.0,100.0,333.0,15.5,None,1020.4,None,38.8513,-77.0360,DCA
27,2016-01-28,0.4,-3.8,4.4,0.0,100.0,NaN,6.5,None,1014.0,None,38.8513,-77.0360,DCA
28,2016-01-29,2.4,-2.1,6.1,0.0,80.0,280.0,19.4,None,1006.5,None,38.8513,-77.0360,DCA
29,2016-01-30,0.8,-4.3,5.6,0.0,80.0,NaN,12.2,None,1018.4,None,38.8513,-77.0360,DCA
30,2016-01-31,6.2,2.2,13.9,0.0,80.0,189.0,15.1,None,1013.4,None,38.8513,-77.0360,DCA

In [ ]:
parameters = {
    "lat": "40.6413",    # Latitude of the location(jfk)
    "lon": "-73.7781",   # Longitude of the location
    "start": "2016-01-01",  # Start date
    "end": "2016-01-31",    # End date
    "units": "metric"       # Units of measurement
}

r = requests.get(url,headers=headers ,params = parameters)

# Print r
r

In [18]:


# Set the URL
url = "https://meteostat.p.rapidapi.com/point/daily"

# Set lat and lon
#lats = ["40.776863"]
#lons = ["-73.8740"]
lats  = ["40.6413","40.776863","40.689491","39.8730","38.9523","38.8513"]
lons = ["-73.7781","-73.8740","-74.1745","-75.2437","-77.4586","-77.0360"]
faas = ["JFK","LGA","EWR","PHL","IAD","DCA"]
# Set start and end dates
start = "2016-01-01"
end = "2016-01-31"

# Set unit of measurement
unit = "metric"

# Set API key (defined already)
api_key = os.getenv('x-rapidapi-key')
headers = {
    "X-RapidAPI-Host": "meteostat.p.rapidapi.com",
    "X-RapidAPI-Key": api_key
}

# Create empty dataframe, will be used to append each location's weather data
weather_df = pd.DataFrame([])

# Loop through all locations
for lat, lon , faa in zip(lats, lons,faas):
    # Create final URL
    url_f = f"{url}?lat={lat}&lon={lon}&start={start}&end={end}&units={unit}"
    print(url_f)  # Print the URL for debugging
    
    # Request data from URL
    r = requests.get(url_f, headers=headers)
    
    # Optional: Pause to avoid hitting rate limits
    time.sleep(1) 
    
        # Decode response with json decoder
    weather_temp = r.json()

        # Flatten json response
    weather_temp_df = pd.json_normalize(weather_temp,
                                            sep="_",
                                             record_path="data",
                                                #meta=[["meta", "generated"], ["meta", "stations"]],
                                                record_prefix="weather_"
        )
    weather_temp_df['lat'] = lat
    weather_temp_df['lon'] = lon
    weather_temp_df['faa'] = faa
        # Concatenate dataframes
    weather_df = pd.concat([weather_df, weather_temp_df], ignore_index=True)
        
# Print final dataset weather_df
weather_df.head()

https://meteostat.p.rapidapi.com/point/daily?lat=40.6413&lon=-73.7781&start=2016-01-01&end=2016-01-31&units=metric
https://meteostat.p.rapidapi.com/point/daily?lat=40.776863&lon=-73.8740&start=2016-01-01&end=2016-01-31&units=metric
https://meteostat.p.rapidapi.com/point/daily?lat=40.689491&lon=-74.1745&start=2016-01-01&end=2016-01-31&units=metric
https://meteostat.p.rapidapi.com/point/daily?lat=39.8730&lon=-75.2437&start=2016-01-01&end=2016-01-31&units=metric
https://meteostat.p.rapidapi.com/point/daily?lat=38.9523&lon=-77.4586&start=2016-01-01&end=2016-01-31&units=metric
https://meteostat.p.rapidapi.com/point/daily?lat=38.8513&lon=-77.0360&start=2016-01-01&end=2016-01-31&units=metric

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,lat,lon,faa
0,2016-01-01,5.8,2.2,6.7,0.0,0.0,283.0,23.4,None,1017.3,None,40.6413,-73.7781,JFK
1,2016-01-02,3.1,1.1,5.0,0.0,0.0,277.0,20.9,None,1017.4,None,40.6413,-73.7781,JFK
2,2016-01-03,4.6,1.7,8.9,0.0,0.0,258.0,22.7,None,1011.8,None,40.6413,-73.7781,JFK
3,2016-01-04,1.0,-9.3,3.3,0.0,0.0,333.0,32.0,None,1017.7,None,40.6413,-73.7781,JFK
4,2016-01-05,-7.2,-11.0,-1.6,0.0,0.0,351.0,19.8,None,1034.7,None,40.6413,-73.7781,JFK

In [19]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   weather_date  186 non-null    object
 1   weather_tavg  186 non-null    float64
 2   weather_tmin  186 non-null    float64
 3   weather_tmax  186 non-null    float64
 4   weather_prcp  186 non-null    float64
 5   weather_snow  186 non-null    float64
 6   weather_wdir  145 non-null    float64
 7   weather_wspd  186 non-null    float64
 8   weather_wpgt  0 non-null      object
 9   weather_pres  183 non-null    float64
 10  weather_tsun  0 non-null      object
 11  lat           186 non-null    object
 12  lon           186 non-null    object
 13  faa           186 non-null    object
dtypes: float64(8), object(6)
memory usage: 20.5+ KB

In [32]:
weather_df.head()

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,lat,lon,faa
0,2016-01-01,5.8,2.2,6.7,0.0,0.0,283.0,23.4,None,1017.3,None,40.6413,-73.7781,JFK
1,2016-01-02,3.1,1.1,5.0,0.0,0.0,277.0,20.9,None,1017.4,None,40.6413,-73.7781,JFK
2,2016-01-03,4.6,1.7,8.9,0.0,0.0,258.0,22.7,None,1011.8,None,40.6413,-73.7781,JFK
3,2016-01-04,1.0,-9.3,3.3,0.0,0.0,333.0,32.0,None,1017.7,None,40.6413,-73.7781,JFK
4,2016-01-05,-7.2,-11.0,-1.6,0.0,0.0,351.0,19.8,None,1034.7,None,40.6413,-73.7781,JFK

In [33]:
# testing  by Sok Mun
weather_df.faa.values

array(['JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK',
       'JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK',
       'JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK', 'JFK',
       'JFK', 'JFK', 'JFK', 'JFK', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA',
       'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA',
       'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA',
       'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'LGA', 'EWR',
       'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR',
       'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR',
       'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR', 'EWR',
       'EWR', 'EWR', 'EWR', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL',
       'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL',
       'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL',
       'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'PHL', 'IAD', 'IAD',
       'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD',
       'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD',
       'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD', 'IAD',
       'IAD', 'IAD', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA',
       'DCA', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA',
       'DCA', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA',
       'DCA', 'DCA', 'DCA', 'DCA', 'DCA', 'DCA'], dtype=object)

In [35]:
# checking datatypes
weather_df.dtypes

weather_date     object
weather_tavg    float64
weather_tmin    float64
weather_tmax    float64
weather_prcp    float64
weather_snow    float64
weather_wdir    float64
weather_wspd    float64
weather_wpgt     object
weather_pres    float64
weather_tsun     object
lat              object
lon              object
faa              object
dtype: object

In [47]:
# changing  to datetime  for weather_date
weather_df_3 = weather_df.copy()
weather_df_3['weather_date'] =pd.to_datetime(weather_df_3['weather_date'])
weather_df_3 = weather_df_3.drop(columns = ['lat','lon'])
weather_df_3.rename(columns = {'faa':'airport'},inplace=True)
weather_df_3.dtypes

weather_date    datetime64[ns]
weather_tavg           float64
weather_tmin           float64
weather_tmax           float64
weather_prcp           float64
weather_snow           float64
weather_wdir           float64
weather_wspd           float64
weather_wpgt            object
weather_pres           float64
weather_tsun            object
airport                 object
dtype: object

In [55]:
weather_df_3

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,airport
0,2016-01-01,5.8,2.2,6.7,0.0,0.0,283.0,23.4,None,1017.3,None,JFK
1,2016-01-02,3.1,1.1,5.0,0.0,0.0,277.0,20.9,None,1017.4,None,JFK
2,2016-01-03,4.6,1.7,8.9,0.0,0.0,258.0,22.7,None,1011.8,None,JFK
3,2016-01-04,1.0,-9.3,3.3,0.0,0.0,333.0,32.0,None,1017.7,None,JFK
4,2016-01-05,-7.2,-11.0,-1.6,0.0,0.0,351.0,19.8,None,1034.7,None,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...
181,2016-01-27,5.7,-0.5,8.9,0.0,100.0,333.0,15.5,None,1020.4,None,DCA
182,2016-01-28,0.4,-3.8,4.4,0.0,100.0,NaN,6.5,None,1014.0,None,DCA
183,2016-01-29,2.4,-2.1,6.1,0.0,80.0,280.0,19.4,None,1006.5,None,DCA
184,2016-01-30,0.8,-4.3,5.6,0.0,80.0,NaN,12.2,None,1018.4,None,DCA
185,2016-01-31,6.2,2.2,13.9,0.0,80.0,189.0,15.1,None,1013.4,None,DCA

In [36]:
df_merged.dtypes

flight_date            datetime64[ns]
dep_time                      float64
sched_dep_time                  int64
dep_delay                     float64
arr_time                      float64
sched_arr_time                  int64
arr_delay                     float64
airline                        object
tail_number                    object
flight_number                   int64
origin                         object
dest                           object
air_time                      float64
actual_elapsed_time           float64
distance                      float64
cancelled                       int64
diverted                        int64
faa                            object
name                           object
lat                           float64
lon                           float64
alt                             int64
tz                            float64
dst                            object
city                           object
country                        object
dtype: object

In [61]:
# testing if change of column name of weather_date to flight_date will help with merging on column flight_date in df_merged
weather_df_4 = weather_df.copy()
weather_df_4['weather_date'] =pd.to_datetime(weather_df_4['weather_date'])
weather_df_4 = weather_df_4.drop(columns = ['lat','lon'])
weather_df_4.rename(columns = {'faa':'airport', 'weather_date':'flight_date'},inplace=True)
weather_df_4.dtypes

flight_date     datetime64[ns]
weather_tavg           float64
weather_tmin           float64
weather_tmax           float64
weather_prcp           float64
weather_snow           float64
weather_wdir           float64
weather_wspd           float64
weather_wpgt            object
weather_pres           float64
weather_tsun            object
airport                 object
dtype: object

In [60]:
# testingg 
weather_df_4

,flight_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,airport
0,2016-01-01,5.8,2.2,6.7,0.0,0.0,283.0,23.4,None,1017.3,None,JFK
1,2016-01-02,3.1,1.1,5.0,0.0,0.0,277.0,20.9,None,1017.4,None,JFK
2,2016-01-03,4.6,1.7,8.9,0.0,0.0,258.0,22.7,None,1011.8,None,JFK
3,2016-01-04,1.0,-9.3,3.3,0.0,0.0,333.0,32.0,None,1017.7,None,JFK
4,2016-01-05,-7.2,-11.0,-1.6,0.0,0.0,351.0,19.8,None,1034.7,None,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...
181,2016-01-27,5.7,-0.5,8.9,0.0,100.0,333.0,15.5,None,1020.4,None,DCA
182,2016-01-28,0.4,-3.8,4.4,0.0,100.0,NaN,6.5,None,1014.0,None,DCA
183,2016-01-29,2.4,-2.1,6.1,0.0,80.0,280.0,19.4,None,1006.5,None,DCA
184,2016-01-30,0.8,-4.3,5.6,0.0,80.0,NaN,12.2,None,1018.4,None,DCA
185,2016-01-31,6.2,2.2,13.9,0.0,80.0,189.0,15.1,None,1013.4,None,DCA

In [20]:
weather_df_2 = weather_df.drop(columns = ['lat','lon'])
weather_df_2

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,faa
0,2016-01-01,5.8,2.2,6.7,0.0,0.0,283.0,23.4,None,1017.3,None,JFK
1,2016-01-02,3.1,1.1,5.0,0.0,0.0,277.0,20.9,None,1017.4,None,JFK
2,2016-01-03,4.6,1.7,8.9,0.0,0.0,258.0,22.7,None,1011.8,None,JFK
3,2016-01-04,1.0,-9.3,3.3,0.0,0.0,333.0,32.0,None,1017.7,None,JFK
4,2016-01-05,-7.2,-11.0,-1.6,0.0,0.0,351.0,19.8,None,1034.7,None,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...
181,2016-01-27,5.7,-0.5,8.9,0.0,100.0,333.0,15.5,None,1020.4,None,DCA
182,2016-01-28,0.4,-3.8,4.4,0.0,100.0,NaN,6.5,None,1014.0,None,DCA
183,2016-01-29,2.4,-2.1,6.1,0.0,80.0,280.0,19.4,None,1006.5,None,DCA
184,2016-01-30,0.8,-4.3,5.6,0.0,80.0,NaN,12.2,None,1018.4,None,DCA
185,2016-01-31,6.2,2.2,13.9,0.0,80.0,189.0,15.1,None,1013.4,None,DCA

In [24]:
# Nethravathy
weather_df_2.rename(columns = {'faa':'airport'},inplace=True)
weather_df_2

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,airport
0,2016-01-01,5.8,2.2,6.7,0.0,0.0,283.0,23.4,None,1017.3,None,JFK
1,2016-01-02,3.1,1.1,5.0,0.0,0.0,277.0,20.9,None,1017.4,None,JFK
2,2016-01-03,4.6,1.7,8.9,0.0,0.0,258.0,22.7,None,1011.8,None,JFK
3,2016-01-04,1.0,-9.3,3.3,0.0,0.0,333.0,32.0,None,1017.7,None,JFK
4,2016-01-05,-7.2,-11.0,-1.6,0.0,0.0,351.0,19.8,None,1034.7,None,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...
181,2016-01-27,5.7,-0.5,8.9,0.0,100.0,333.0,15.5,None,1020.4,None,DCA
182,2016-01-28,0.4,-3.8,4.4,0.0,100.0,NaN,6.5,None,1014.0,None,DCA
183,2016-01-29,2.4,-2.1,6.1,0.0,80.0,280.0,19.4,None,1006.5,None,DCA
184,2016-01-30,0.8,-4.3,5.6,0.0,80.0,NaN,12.2,None,1018.4,None,DCA
185,2016-01-31,6.2,2.2,13.9,0.0,80.0,189.0,15.1,None,1013.4,None,DCA

task_two_table

In [22]:
from sql_functions import get_dataframe

In [23]:
flights_jonas = get_dataframe(f'SELECT * FROM cgn_analytics_24_3.flights_wj201601')

flights_jonas.head()

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,origin,dest,air_time,actual_elapsed_time,distance,cancelled,diverted
0,2016-01-01,741.0,745,-4.0,1610.0,1602,8.0,AA,N3HMAA,44,SEA,JFK,294.0,329.0,2422.0,0,0
1,2016-01-02,737.0,745,-8.0,1613.0,1602,11.0,AA,N3BDAA,44,SEA,JFK,292.0,336.0,2422.0,0,0
2,2016-01-03,743.0,745,-2.0,1547.0,1602,-15.0,AA,N3KJAA,44,SEA,JFK,277.0,304.0,2422.0,0,0
3,2016-01-04,737.0,745,-8.0,1551.0,1602,-11.0,AA,N3FWAA,44,SEA,JFK,294.0,314.0,2422.0,0,0
4,2016-01-05,708.0,710,-2.0,1524.0,1527,-3.0,AA,N3ESAA,44,SEA,JFK,296.0,316.0,2422.0,0,0

In [25]:
df_merged = get_dataframe(f'''SELECT *
FROM cgn_analytics_24_3.flights_wj201601 f
LEFT JOIN cgn_analytics_24_3.airports a
ON f.origin = a.faa''') 

df_merged.head()

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,...,diverted,faa,name,lat,lon,alt,tz,dst,city,country
0,2016-01-01,741.0,745,-4.0,1610.0,1602,8.0,AA,N3HMAA,44,...,0,SEA,Seattle Tacoma International Airport,47.449001,-122.308998,433,-8.0,A,Seattle,United States
1,2016-01-02,737.0,745,-8.0,1613.0,1602,11.0,AA,N3BDAA,44,...,0,SEA,Seattle Tacoma International Airport,47.449001,-122.308998,433,-8.0,A,Seattle,United States
2,2016-01-03,743.0,745,-2.0,1547.0,1602,-15.0,AA,N3KJAA,44,...,0,SEA,Seattle Tacoma International Airport,47.449001,-122.308998,433,-8.0,A,Seattle,United States
3,2016-01-04,737.0,745,-8.0,1551.0,1602,-11.0,AA,N3FWAA,44,...,0,SEA,Seattle Tacoma International Airport,47.449001,-122.308998,433,-8.0,A,Seattle,United States
4,2016-01-05,708.0,710,-2.0,1524.0,1527,-3.0,AA,N3ESAA,44,...,0,SEA,Seattle Tacoma International Airport,47.449001,-122.308998,433,-8.0,A,Seattle,United States

In [26]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76945 entries, 0 to 76944
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   flight_date          76945 non-null  datetime64[ns]
 1   dep_time             71033 non-null  float64
 2   sched_dep_time       76945 non-null  int64
 3   dep_delay            71033 non-null  float64
 4   arr_time             70988 non-null  float64
 5   sched_arr_time       76945 non-null  int64
 6   arr_delay            70884 non-null  float64
 7   airline              76945 non-null  object
 8   tail_number          74181 non-null  object
 9   flight_number        76945 non-null  int64
 10  origin               76945 non-null  object
 11  dest                 76945 non-null  object
 12  air_time             70884 non-null  float64
 13  actual_elapsed_time  70884 non-null  float64
 14  distance             76945 non-null  float64
 15  cancelled            76945 non-null  int64
 16  diverted             76945 non-null  int64
 17  faa                  76945 non-null  object
 18  name                 76945 non-null  object
 19  lat                  76945 non-null  float64
 20  lon                  76945 non-null  float64
 21  alt                  76945 non-null  int64
 22  tz                   76945 non-null  float64
 23  dst                  76945 non-null  object
 24  city                 76945 non-null  object
 25  country              76945 non-null  object
dtypes: datetime64[ns](1), float64(10), int64(6), object(9)
memory usage: 15.3+ MB

In [56]:
# testing by Sok Mun
df_merged

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,...,diverted,faa,name,lat,lon,alt,tz,dst,city,country
0,2016-01-01,741.0,745,-4.0,1610.0,1602,8.0,AA,N3HMAA,44,...,0,SEA,Seattle Tacoma International Airport,47.449001,-122.308998,433,-8.0,A,Seattle,United States
1,2016-01-02,737.0,745,-8.0,1613.0,1602,11.0,AA,N3BDAA,44,...,0,SEA,Seattle Tacoma International Airport,47.449001,-122.308998,433,-8.0,A,Seattle,United States
2,2016-01-03,743.0,745,-2.0,1547.0,1602,-15.0,AA,N3KJAA,44,...,0,SEA,Seattle Tacoma International Airport,47.449001,-122.308998,433,-8.0,A,Seattle,United States
3,2016-01-04,737.0,745,-8.0,1551.0,1602,-11.0,AA,N3FWAA,44,...,0,SEA,Seattle Tacoma International Airport,47.449001,-122.308998,433,-8.0,A,Seattle,United States
4,2016-01-05,708.0,710,-2.0,1524.0,1527,-3.0,AA,N3ESAA,44,...,0,SEA,Seattle Tacoma International Airport,47.449001,-122.308998,433,-8.0,A,Seattle,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76940,2016-01-03,1240.0,1250,-10.0,1644.0,1705,-21.0,F9,N925FR,1012,...,0,IAH,George Bush Intercontinental Houston Airport,29.984400,-95.341400,97,-6.0,A,Houston,United States
76941,2016-01-03,1745.0,1745,0.0,2056.0,2050,6.0,F9,N925FR,1015,...,0,PHL,Philadelphia International Airport,39.871899,-75.241096,36,-5.0,A,Philadelphia,United States
76942,2016-01-03,706.0,650,16.0,901.0,900,1.0,F9,N932FR,1462,...,0,ATL,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,1026,-5.0,A,Atlanta,United States
76943,2016-01-03,1002.0,940,22.0,1225.0,1235,-10.0,F9,N932FR,1463,...,0,LGA,La Guardia Airport,40.777199,-73.872597,21,-5.0,A,New York,United States
76944,2016-01-03,1728.0,1649,39.0,2241.0,2159,42.0,F9,N934FR,720,...,0,DEN,Denver International Airport,39.861698,-104.672997,5431,-7.0,A,Denver,United States

combined task_three and task_four

In [51]:
# Codes with Nethravathy on  Friday 18:00
df_merged_final = df_merged.join(weather_df_2,how='left')
df_merged_final

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,...,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,airport
0,2016-01-01,741.0,745,-4.0,1610.0,1602,8.0,AA,N3HMAA,44,...,2.2,6.7,0.0,0.0,283.0,23.4,None,1017.3,None,JFK
1,2016-01-02,737.0,745,-8.0,1613.0,1602,11.0,AA,N3BDAA,44,...,1.1,5.0,0.0,0.0,277.0,20.9,None,1017.4,None,JFK
2,2016-01-03,743.0,745,-2.0,1547.0,1602,-15.0,AA,N3KJAA,44,...,1.7,8.9,0.0,0.0,258.0,22.7,None,1011.8,None,JFK
3,2016-01-04,737.0,745,-8.0,1551.0,1602,-11.0,AA,N3FWAA,44,...,-9.3,3.3,0.0,0.0,333.0,32.0,None,1017.7,None,JFK
4,2016-01-05,708.0,710,-2.0,1524.0,1527,-3.0,AA,N3ESAA,44,...,-11.0,-1.6,0.0,0.0,351.0,19.8,None,1034.7,None,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76940,2016-01-03,1240.0,1250,-10.0,1644.0,1705,-21.0,F9,N925FR,1012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76941,2016-01-03,1745.0,1745,0.0,2056.0,2050,6.0,F9,N925FR,1015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76942,2016-01-03,706.0,650,16.0,901.0,900,1.0,F9,N932FR,1462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76943,2016-01-03,1002.0,940,22.0,1225.0,1235,-10.0,F9,N932FR,1463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76944,2016-01-03,1728.0,1649,39.0,2241.0,2159,42.0,F9,N934FR,720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# Testing codes by Sok Munn on joining with  all dates converted to datetime.
df_merged_final_3 =df_merged.join(weather_df_3, how='left')
df_merged_final_3

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,...,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,airport
0,2016-01-01,741.0,745,-4.0,1610.0,1602,8.0,AA,N3HMAA,44,...,2.2,6.7,0.0,0.0,283.0,23.4,None,1017.3,None,JFK
1,2016-01-02,737.0,745,-8.0,1613.0,1602,11.0,AA,N3BDAA,44,...,1.1,5.0,0.0,0.0,277.0,20.9,None,1017.4,None,JFK
2,2016-01-03,743.0,745,-2.0,1547.0,1602,-15.0,AA,N3KJAA,44,...,1.7,8.9,0.0,0.0,258.0,22.7,None,1011.8,None,JFK
3,2016-01-04,737.0,745,-8.0,1551.0,1602,-11.0,AA,N3FWAA,44,...,-9.3,3.3,0.0,0.0,333.0,32.0,None,1017.7,None,JFK
4,2016-01-05,708.0,710,-2.0,1524.0,1527,-3.0,AA,N3ESAA,44,...,-11.0,-1.6,0.0,0.0,351.0,19.8,None,1034.7,None,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76940,2016-01-03,1240.0,1250,-10.0,1644.0,1705,-21.0,F9,N925FR,1012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76941,2016-01-03,1745.0,1745,0.0,2056.0,2050,6.0,F9,N925FR,1015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76942,2016-01-03,706.0,650,16.0,901.0,900,1.0,F9,N932FR,1462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76943,2016-01-03,1002.0,940,22.0,1225.0,1235,-10.0,F9,N932FR,1463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76944,2016-01-03,1728.0,1649,39.0,2241.0,2159,42.0,F9,N934FR,720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df_merged_final_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76945 entries, 0 to 76944
Data columns (total 38 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   flight_date          76945 non-null  datetime64[ns]
 1   dep_time             71033 non-null  float64
 2   sched_dep_time       76945 non-null  int64
 3   dep_delay            71033 non-null  float64
 4   arr_time             70988 non-null  float64
 5   sched_arr_time       76945 non-null  int64
 6   arr_delay            70884 non-null  float64
 7   airline              76945 non-null  object
 8   tail_number          74181 non-null  object
 9   flight_number        76945 non-null  int64
 10  origin               76945 non-null  object
 11  dest                 76945 non-null  object
 12  air_time             70884 non-null  float64
 13  actual_elapsed_time  70884 non-null  float64
 14  distance             76945 non-null  float64
 15  cancelled            76945 non-null  int64
 16  diverted             76945 non-null  int64
 17  faa                  76945 non-null  object
 18  name                 76945 non-null  object
 19  lat                  76945 non-null  float64
 20  lon                  76945 non-null  float64
 21  alt                  76945 non-null  int64
 22  tz                   76945 non-null  float64
 23  dst                  76945 non-null  object
 24  city                 76945 non-null  object
 25  country              76945 non-null  object
 26  weather_date         186 non-null    datetime64[ns]
 27  weather_tavg         186 non-null    float64
 28  weather_tmin         186 non-null    float64
 29  weather_tmax         186 non-null    float64
 30  weather_prcp         186 non-null    float64
 31  weather_snow         186 non-null    float64
 32  weather_wdir         145 non-null    float64
 33  weather_wspd         186 non-null    float64
 34  weather_wpgt         0 non-null      object
 35  weather_pres         183 non-null    float64
 36  weather_tsun         0 non-null      object
 37  airport              186 non-null    object
dtypes: datetime64[ns](2), float64(18), int64(6), object(12)
memory usage: 22.3+ MB

In [50]:
# testing  by sok mun 

print(df_merged_final_3[['origin', 'dest', 'airport']])

      origin dest airport
0        SEA  JFK     JFK
1        SEA  JFK     JFK
2        SEA  JFK     JFK
3        SEA  JFK     JFK
4        SEA  JFK     JFK
...      ...  ...     ...
76940    IAH  PHL     NaN
76941    PHL  IAH     NaN
76942    ATL  LGA     NaN
76943    LGA  ATL     NaN
76944    DEN  DCA     NaN

[76945 rows x 3 columns]

In [62]:
weather_df_4

,flight_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,airport
0,2016-01-01,5.8,2.2,6.7,0.0,0.0,283.0,23.4,None,1017.3,None,JFK
1,2016-01-02,3.1,1.1,5.0,0.0,0.0,277.0,20.9,None,1017.4,None,JFK
2,2016-01-03,4.6,1.7,8.9,0.0,0.0,258.0,22.7,None,1011.8,None,JFK
3,2016-01-04,1.0,-9.3,3.3,0.0,0.0,333.0,32.0,None,1017.7,None,JFK
4,2016-01-05,-7.2,-11.0,-1.6,0.0,0.0,351.0,19.8,None,1034.7,None,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...
181,2016-01-27,5.7,-0.5,8.9,0.0,100.0,333.0,15.5,None,1020.4,None,DCA
182,2016-01-28,0.4,-3.8,4.4,0.0,100.0,NaN,6.5,None,1014.0,None,DCA
183,2016-01-29,2.4,-2.1,6.1,0.0,80.0,280.0,19.4,None,1006.5,None,DCA
184,2016-01-30,0.8,-4.3,5.6,0.0,80.0,NaN,12.2,None,1018.4,None,DCA
185,2016-01-31,6.2,2.2,13.9,0.0,80.0,189.0,15.1,None,1013.4,None,DCA

In [ ]:
weather_df_4

In [64]:
#testing of merging by flight-date instead of joininng - we get 461670 rows
df_merged_final_4 = df_merged.merge(weather_df_4, on='flight_date', how='left')
df_merged_final_4

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,...,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,airport
0,2016-01-01,741.0,745,-4.0,1610.0,1602,8.0,AA,N3HMAA,44,...,2.2,6.7,0.0,0.0,283.0,23.4,None,1017.3,None,JFK
1,2016-01-01,741.0,745,-4.0,1610.0,1602,8.0,AA,N3HMAA,44,...,1.1,6.1,0.0,0.0,265.0,20.5,None,1017.3,None,LGA
2,2016-01-01,741.0,745,-4.0,1610.0,1602,8.0,AA,N3HMAA,44,...,1.1,6.1,0.0,0.0,265.0,20.5,None,1017.3,None,EWR
3,2016-01-01,741.0,745,-4.0,1610.0,1602,8.0,AA,N3HMAA,44,...,1.1,6.1,0.0,0.0,283.0,18.7,None,1019.2,None,PHL
4,2016-01-01,741.0,745,-4.0,1610.0,1602,8.0,AA,N3HMAA,44,...,-1.0,6.1,0.0,0.0,310.0,13.7,None,1020.2,None,IAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461665,2016-01-03,1728.0,1649,39.0,2241.0,2159,42.0,F9,N934FR,720,...,-2.1,8.3,0.0,0.0,247.0,16.6,None,1011.6,None,LGA
461666,2016-01-03,1728.0,1649,39.0,2241.0,2159,42.0,F9,N934FR,720,...,-2.1,8.3,0.0,0.0,247.0,16.6,None,1011.6,None,EWR
461667,2016-01-03,1728.0,1649,39.0,2241.0,2159,42.0,F9,N934FR,720,...,-1.0,10.0,0.0,0.0,260.0,15.1,None,1012.9,None,PHL
461668,2016-01-03,1728.0,1649,39.0,2241.0,2159,42.0,F9,N934FR,720,...,-4.9,12.2,0.0,0.0,NaN,7.9,None,1013.4,None,IAD
461669,2016-01-03,1728.0,1649,39.0,2241.0,2159,42.0,F9,N934FR,720,...,0.0,12.2,0.0,0.0,210.0,12.6,None,1013.7,None,DCA

In [ ]:
# wrong codes without dropping  lat, lon, changing  FAA to airport
df_merged_final = df_merged.join(weather_df,how='left')

In [58]:
# savinng weather_df_3 to csv
weather_df_3.to_csv('data/weather_df_3.csv', index = False)